html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px; }

h1 {
  font-size: 24px;
  line-height: 33px; }

.container {
  max-width: 1280px; }

.color-primary {
  color: #198754; }

.material-icons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }

.btn {
  border-radius: 2px;
  padding: 8px 32px; }

.btn-primary {
  color: #fff;
  background: #198754; }
  .btn-primary:hover {
    background: #25aa6c;
    border: 1px solid #25aa6c; }

.btn-secondary {
  color: #198754;
  background: #fff;
  border: 1px solid #198754; }
  .btn-secondary:hover {
    color: #fff;
    background: #707070b7;
    border: 1px solid #707070b7; }

.left-section {
  background: #F8F9FA; }
  .left-section .logo {
    margin-bottom: 40px;
    padding-left: 32px; }
  .left-section .menu-item {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding-left: 32px; }
    .left-section .menu-item .material-icons {
      vertical-align: middle; }
    .left-section .menu-item .menu-name {
      vertical-align: middle; }
    .left-section .menu-item.current {
      border-left: 4px solid #198754;
      color: #198754; }
  .left-section .user {
    padding-left: 32px; }
    .left-section .user .user-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      -o-object-fit: cover;
         object-fit: cover; }
    .left-section .user .user-email {
      font-size: 14px;
      color: #6C757D; }

.left-section, .right-section {
  padding-top: 32px;
  padding-bottom: 32px; }

.right-section {
  padding-left: 32px; }

.top-section {
  padding-bottom: 32px; }

.bottom-section .filter {
  margin-bottom: 6px; }

.bottom-section ul.main-list {
  border: 1px solid #CED4DA; }
  .bottom-section ul.main-list li {
    width: 320px;
    padding: 12px;
    border-top: 1px solid #CED4DA;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer; }
    .bottom-section ul.main-list li:first-child {
      border-top: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
    .bottom-section ul.main-list li:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; }
    .bottom-section ul.main-list li.current {
      background: #F8F9FA; }
    .bottom-section ul.main-list li .author {
      font-size: 12px;
      color: #6C757D; }

.bottom-section .category {
  font-size: 12px;
  color: #212529; }

.bottom-section .subject {
  font-size: 16px;
  color: #212529;
  font-weight: bold;
  line-height: 24px; }

.bottom-section .time {
  font-size: 12px;
  color: #212529; }

.bottom-section .comments {
  font-size: 12px;
  color: #6C757D;
  margin-bottom: 6px; }

.bottom-section .assignment-section {
  border: 1px solid #CED4DA;
  border-radius: 2px; }
  .bottom-section .assignment-section .subject-section {
    background: #F8F9FA;
    padding: 12px 16px;
    border-bottom: 1px solid #CED4DA; }
  .bottom-section .assignment-section .content-section {
    padding: 16px 16px 12px 16px; }
    .bottom-section .assignment-section .content-section .author-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      -o-object-fit: cover;
         object-fit: cover; }
    .bottom-section .assignment-section .content-section .author-name {
      color: #212529;
      font-weight: bold; }
    .bottom-section .assignment-section .content-section .time {
      color: #6C757D; }
    .bottom-section .assignment-section .content-section .content p {
      color: #212529;
      font-size: 14px;
      line-height: 21px; }
    .bottom-section .assignment-section .content-section .attachment {
      background: #F8F9FA;
      border-radius: 2px;
      border: 1px solid #CED4DA;
      padding: 8px 12px; }
    .bottom-section .assignment-section .content-section hr {
      border: 1px solid #CED4DA; }

.bottom-section .reply-section .mce-section {
  background: #F8F9FA;
  padding: 18px 25px 19px 25px;
  border-top: 1px solid #CED4DA;
  border-bottom: 1px solid #CED4DA; }

.bottom-section .reply-section .reply-text-section {
  padding: 16px 24px; }
  .bottom-section .reply-section .reply-text-section textarea {
    border: 0;
    width: 100%;
    resize: none; }

/*# sourceMappingURL=all.css.map */
